<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4 ">
                <h5 class="text-white mb-4">نواصل معنا</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>الدمام  6361 - 32414 حى المزروعية. طريق الملك فيصل</p>
                <p><i class="fa fa-envelope me-3"></i>info@quality paths.com.sa</p>
                <p><i class="fa fa-envelope me-3"></i>www//qualitypaths.com.sa</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <h5 class="text-white mb-4">نواصل معنا</h5>
                <p><i class="fa fa-phone-alt me-3"></i>0138210100</p>
                <p><i class="fa fa-phone-alt me-3"></i>0536351854</p>
                <p><i class="fa fa-phone-alt me-3"></i>0505453015</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <h5 class="text-white mb-4">شائع</h5>
                <a class="btn btn-link" routerLink="/about">عنا</a>
                <a class="btn btn-link" routerLink="/contact">تواصل معنا</a>
                <a class="btn btn-link" routerLink="/value">رؤيتنا</a>
                <a class="btn btn-link" routerLink="/client">عملاؤنا </a>
                <a class="btn btn-link" routerLink="/service">الخدمات</a>
            </div>
            
        </div>
    </div>
</div>
