<div class="container-xxxl bg-primary page-header">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">من نحن </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/home">الرئيسة</a></li>
                <li class="breadcrumb-item"><a class="text-white" routerLink="/service">خدماتنا</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page" style="font-size: 1.4rem;font-weight: bold;">من نحن</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Navbar & Hero End -->


<!-- About Start -->
<div class="py-6">
    <div class="container-xxl">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="assets/img/about.png">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
                <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h1>من نحن </h1></div>
                <h2 class="mb-4">شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة</h2>
                <p class="mb-4">مسارات الجودة تعتمد في تقديم خد على تطبيق جميع المعايير الوطنية والدولية والتي تضمن تحقيق أفضل
                    إنجازواستفادة لجميع متطلبات العملاء والجهات التي نتعامل معها بشكل احترافي يضمن الوصول إلى الصدارة
                    والجدارة والمنافسة العالمية فى ظل رؤية المملكة </p>
                <div class="row g-3 mb-4">
                    <div class="col-12 d-flex">
                        <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px">
                            <i class="fa fa-user-tie text-white"></i>
                        </div>
                        <div class="ms-4">
                            
                            <span> تقدم شركتنا [ مسارات الجودة ] جميع الخدمات الإدارية والتطويرية وتطبيق معاييرالجودة واليزو
                                وفق أسس علمية ومنهجية ترتكزعلى الإبداع والابتكار وفق الخطة الاستراتيجية والتشغيلية لكل مؤسسة لتنافس
                                بها العلامات التجارية الأخرى في تقديم الخدمات الاستشارية المعتمدة </span>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px">
                            <i class="fa fa-chart-line text-white"></i>
                        </div>
                        <div class="ms-4">
                            
                            <span>تسعى شركتنا [ مسارات الجودة ] باستقطاب الكفاءات والكوادر والخبرات البشرية ،
                                ًما
                                فنحن ندرك إدراكا تا
                                بأهمية التطوير والتحسين والتميز المؤسس ي وأهمية ضمان الجودة للعمليات والإجراءات لتحقيق القيمة
                                المضافة والاستدامة المهنية والفنية والمجتمعية والمالية وفق طبيعة كل مؤسسة.</span>
                        </div>
                    </div>
                </div>
                <h4><a routerLink="/about" class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight" style="font-size: 35px; background-color: #00B98E;"> اقرا اكثر </a></h4>
            
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Features Start -->
<div class="py-6">
    <div class="container-xxl">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" dir="rtl" style="margin-right: 50px;">
                <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h1> فريقنا</h1></div>
                <h2 class="mb-4">شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة</h2>
                <p class="mb-4">متلك مسارات الجودة فريق عمل مهني متخصص متكامل الجهود والخبرات يسعى للتطويرو التحسين
                    ًئما
                    دا
                    المستمر لتحقيق التنمية المهنية المستدامة وتراكم الخبرة وتحسين الأداء ونتميز في مسارات الجودة بوجود عدد
                    من الخبراء والاستشاريين بخبرات لأكثر من  25سنة في مجال التطوير والتميز المؤسس ي والتدريب والتأهيل
                    والتنسيق مع الجهات الدولية لمنح الشهادات وفق متطلبات الجهة</p> 
                <div class="row g-3 mb-4">
                    <div class="col-12 d-flex">
                        <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px">
                            <i class="fa fa-user-tie text-white"></i>
                        </div>
                        <div class="ms-4">
                            <span>كما يتمتع الفريق بالمعرفة والخبرة الواسعة في كافة مجالات سوق العمل والتطوير الإداري والتعليمي والقيمي
                                وعلى أتم الجاهزية لتقديم أفضل خدمات الدعم الفني والاستشارات الإدارية والتطويرية مما يحقق ضمان
                                جودة الخدمات لإبهار وإسعاد عملائنا.</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px">
                            <i class="fa fa-chart-line text-white"></i>
                        </div>
                        <div class="ms-4">
                            
                            <span>تسعى شركتنا [ مسارات الجودة ] باستقطاب الكفاءات والكوادر والخبرات البشرية ،
                                ًما
                                فنحن ندرك إدراكا تا
                                بأهمية التطوير والتحسين والتميز المؤسس ي وأهمية ضمان الجودة للعمليات والإجراءات لتحقيق القيمة
                                المضافة والاستدامة المهنية والفنية والمجتمعية والمالية وفق طبيعة كل مؤسسة.</span>
                        </div>
                    </div>
                </div>
                <h4><a routerLink="/service" class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight" style="font-size: 35px; background-color: #00B98E;"> اقرا اكثر </a></h4>
            </div>
            <div class="col-lg-5 wow zoomIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="assets/img/team2.png">
            </div>
        </div>
    </div>
</div>
<!-- Features End -->


