<div class="position-relative p-0" >
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a routerLink="/home" class="navbar-brand p-0">
            <img class="img-fluid" src="assets/img/logo.PNG" style="width: 120px; height:100%" alt="">
        </a>
        <form class="d-flex input-group w-auto" dir="rtl">
            <input  
            type="search"
            class="form-control"
            placeholder="ابحث هنا"
            aria-label="Search" 
            style="border-radius: 10%;"
            >
            <h4><a routerLink="/home" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5 text-lg"> ابحث</a></h4>
        </form>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <h4><a routerLink="/contact" class="nav-item nav-link">اتصل بنا</a></h4>
                <div class="nav-item dropdown">
                    <h4><a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">اخري</a></h4>
                    <div class="dropdown-menu m-0" style="background-color: #00B98E; color:white">
                        <h4><a routerLink="/value" class="dropdown-item">رؤيتنا</a></h4>
                        <h4><a routerLink="/client" class="dropdown-item">عملائنا</a></h4>
                        
                    </div>
                </div>
                <h4><a routerLink="/about" class="nav-item nav-link text-lg">من نحن</a></h4>
                <h4><a  routerLink="/service" class="nav-item nav-link">الخدمات</a></h4>
                <h4><a routerLink="/home" class="nav-item nav-link active text-lg">الرئيسية</a></h4>
            </div>
            <h4><a routerLink="/home" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5 text-lg">مـسارات الـجـودة</a></h4>
        </div>
    </nav>
</div>