<div class="container-xxxl bg-primary page-header">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">خدماتنا</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/home">الرئيسة</a></li>
                <li class="breadcrumb-item"><a class="text-white" routerLink="/about">نحن</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page" style="font-size: 1.4rem;font-weight: bold;">خدماتنا</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Navbar & Hero End -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"> <h1>خدماتنا</h1></div>
            <p class="mb-5">نقدم جميع خدمات التأهيل والتطوير والتقييم وقياس الأثر ومساعدة المؤسسات للحصول على المنح لجميع شهادات
                الأيزو الدولية بالتنسيق مع الجهات الدولية المعتمدة لمنح جميع شهادات الأيزو والجوائز الوطنية والعالمية</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-user-tie fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3">إدارة الجودة في المؤسسات الصحية</h5>
                        <span>ISO 15224</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-chart-pie fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3">نظام أمن وسرية المعلومات</h5>
                        <span>ISO27001.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-chart-line fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3">لأمن المجتمعي – نظم إدارة
                            استمرارية الأعمال</h5>
                        <span>ISO 22301</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-chart-area fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3"> المراجعات الداخلية لنظام إدارة الجودة</h5>
                        <span>ISO 19011</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-balance-scale fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3">سياسات أنظمة إدارة المعامل
                             الطبية</h5>
                        <span>ISO 15189</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-house-damage fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3"> الحوكمة المؤسسية لتقنية المعلومات
                             </h5>
                        <span>ISO38500</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-house-damage fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3"> جودة عمليات التدريب وتطويرالكفاءات بالمؤسسات موجهات لإدارة الكفايات
                             </h5>
                        <span>المهارات) وتطويرالأفراد بالمؤسسات الاحتياجات التدريبية تصميم وتخطيط التدريب ( (ISO 1001</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-house-damage fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3">   لممارسة المهنية لمراكزالتدريب
                            والتعليم
                            
                             </h5>
                        <span>ISO 29990</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-between">
                        <div class="service-icon">
                            <i class="fa fa-house-damage fa-2x"></i>
                        </div>
                        <a class="service-btn" href="">
                            <i class="fa fa-link fa-2x"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <h5 class="mb-3"> السلامة والصحة المهنية
                             </h5>
                        <span>ISO 45001</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5" dir="rtl">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h1>مميزاتنا</h1></div>
                <h2 class="mb-4">لماذا شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة</h2>
                <p>وتؤهل شركتنا جميع المؤسسات للحصول على أي شهادة دولية
                    تأهيل – تدريب- تقييم – فحص -تدقيق – مراجعة – تميز مؤسس يتقدم مسارات الجودة برامج التأهيل والتمكين لجميع الجهات والمؤسسات والجمعيات والمصانع والشركات والأفراد من أهمه</p>
                <p>تمكن شركة مسارات الجودة المؤسسات والشركات والجمعيات من اكتساب مهارات التسويق الاحترافي للمؤسسة والتميز في خدمة
                    العملاء واستقطاب عملاء جدد للمؤسسات وتقدم دراسات حالة من خلال دراسة حالة العملاء وبناء خطط التسويق والتميز في
                    خدمة العملاء مما يحقق مستهدفات النمو المطلوبة وترسيخ السمعة السوقية .
                    تساعد وتدعم شركة مسارات الجودة جميع مؤسسات القطاع العام الخاص والقطاع غير الربحي في بناء النظام المؤسسي
                    والخطط المؤسسية وخطط التحسين ودراسات التقييم وتقديم الدعم التقني للمؤسسات بالشراكة مع شركة متخصصة في البرمجة</p>
                    <h4><a routerLink="/service" class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight" style="font-size: 35px; background-color: #00B98E;"> اقرا اكثر </a></h4>
            
            </div>
            <div class="col-lg-7">
                <div class="row g-5">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-cubes text-white"></i>
                            </div>
                            <h6 class="mb-0"></h6>
                        </div>
                        <span >
                            <ul dir="rtl">
                                <li>تأهيل وتدريب العاملين </li>
                                <li> تأهيل وتمكين القيادات</li>
                                <li>جميع برامج مهارات تطوير الذات</li>
                                <li> قياس الأثر للبرامج والمشروعات</li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-percent text-white"></i>
                            </div>
                            <h6 class="mb-0"></h6>
                        </div>
                        <span>
                            <ul dir="rtl">
                                <li>التنمية المهنية المستدامة</li>
                                <li>   تصميم المبادرات والبرامج</li>
                                <li> الخطة الاستراتيجية والتشغيلية</li>
                                <li>  تطوير وتحسين الأداء المؤسسي</li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-award text-white"></i>
                            </div>
                            <h6 class="mb-0"></h6>
                        </div>
                        <span >
                            <ul dir="rtl">
                                <li>  مواصفات الأيزو</li>
                                <li>  إدارة الأزمات</li>
                                <li>المراجعة الداخلية والخارجية</li>
                                <li>  التميز المؤسسي</li>
                                <li>قياس الأثر</li>
                            </ul>
                        </span>
                       </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-smile-beam text-white"></i>
                            </div>
                            
                        </div>
                        <span >
                            <ul dir="rtl">
                                <li>  دليل الإجراءات والسياسات</li>
                                <li>  دليل النماذج المستخدمة  </li>
                                <li> الميثاق الأخلاقي -</li>
                                <li>  قياس المهارات والجدارات</li>
                                <li>تقييم المواقع و تطويرها</li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-user-tie text-white"></i>
                            </div>
                            
                        </div>
                        <span >
                            <ul dir="rtl">
                                <li>  تقييم وتطوير الموارد البشرية</li>
                                <li>  خطط التطوير والتحسين الإداري</li>
                                <li>لخطة الاستراتيجية والتشغيلية</li>
                                <li> المبادرات والبرامج والأنشطة</li>
                                <li>  الخطة التسويقية والتوسع
                                    والانتشار والعلامات التجاري </li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                        <div class="d-flex align-items-center mb-3" dir="rtl">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-headset text-white" ></i>
                            </div>
                            
                        </div>
                        <span >
                            <ul dir="rtl">
                                <li>  حوكمة الإجراءات والعمليات</li>
                                <li>  دليل التخطيط الاستراتيجي
                                    </li>
                                <li> دليل المتابعة والتقييم</li>
                                <li>   دليل المخاطر – دليل التدريب </li>
                                <li>إدارة العمليات والإجراءات</li>
                                <li>تطوير مواقع التواصل</li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Testimonial Start -->


<section id="faq" class="faq section-bg">
    <div class="container" dir="rtl">

      <div class="section-title" data-aos="fade-up">
        <p style="color: #00B98E;">نقدم الدعم والمساندة ومشاركة المؤسسات والشركات في التقديم على الجوائز
            المحلية والوطنية وفق المعايير الوطنية والعالمية</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">جائزة الملك عبد العزيز للجودة <i class="fa fa-arrow-down" style="margin-right: 95%;"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">جائزة التميز الأوربي "التميز المؤسسي <i class="fa fa-arrow-down" style="margin-right: 95%;"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">تصميم الجوائز الداخلية للمؤسسات <i class="fa fa-arrow-down" style="margin-right: 95%;"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">تصميم المبادرات النوعية لتحسين وتطويرالأداء <i class="fa fa-arrow-down" style="margin-right: 95%;"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed"> برنامج الأفكار الإبداعية لتطوير الشركات والمؤسسات <i class="fa fa-arrow-down" style="margin-right: 95%;"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="400">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">   الاستثمارالاجتماعي للمؤسسات وفق قياس العائد الاستثماري " المسؤولية الاجتماعية <i class="fa fa-arrow-down" style="margin-right: 95%;"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="400">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">    الاستدامة المالية والتشبيك مع المنصات والجهات الداعمة<i class="fa fa-arrow-down" style="margin-right: 95%;"></i></a>
            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="400">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">      قياس أثر البرامج للشركات والجمعيات وقياس مدى التأثير المستقبلي والقيمة السوقية <i class="fa fa-arrow-down" style="margin-right: 95%;"></i></a>
            <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </section>