<div class="container-xxxl bg-primary page-header">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3"> تواصل معنا </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/home">الرئيسة</a></li>
                <li class="breadcrumb-item"><a class="text-white" routerLink="/service">خدماتنا</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page" style="font-size: 1.4rem;font-weight: bold;"> تواصل معنا</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Navbar & Hero End -->


<!-- Contact Start -->
<div class="container-xxl py-6">
<div class="container">
    <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h1>تواصل معنا</h1></div>
        <h2 class="mb-5">اذا كان لديك اى استفسار يمكنك  التواصل معنا </h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-7 wow fadeInUp mt-5" data-wow-delay="0.3s">
            <h6 class="text-center mb-4"> </h6>
            <form>
                <div class="row g-3 mt-5">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control " id="name" placeholder="Your Name">
                            <label for="name">اسمك</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                            <label for="email">البريد الالكترونى</label>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                            <label for="subject">الموضوع </label>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                            <label for="message">الرسالة</label>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <button class="btn btn-primary w-100 py-3" type="submit">ارسال </button>
                    </div>
                </div>
            </form>
        </div>
        <section id="contact" class="contact col-lg-5">
        <div class=" d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>المكان:</h4>
                <p>الدمام  6361 - 32414 حى المزروعية. طريق الملك فيصلا</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>البريدالالكترونى</h4>
                <p>info@quality paths.com.sa</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>الجوال:</h4>
                <p> 0138210100
                    
                      </p>
              </div>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>الجوال:</h4>
                <p> 
                    0536351854
                      </p>
              </div>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>الجوال:</h4>
                <p> 
                    
                    0505453015  </p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>
          </section>
          
    </div>
</div>
</div>
<!-- Contact End -->
