<div class="container-xxxl bg-primary page-header">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3"> رؤيتنا </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/home">الرئيسة</a></li>
                <li class="breadcrumb-item"><a class="text-white" routerLink="/service">خدماتنا</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page" style="font-size: 1.4rem;font-weight: bold;"> رؤيتنا</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-xxl py-6">
    <div class="container">
        <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"></div>
            <h2 class="mb-5">شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة </h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <h1>الرؤية </h1>
                    <h5 class="mb-4 text-lg">بداع والتميز لضمان جودة<br> واستدامة الخدمات
                        المقدمة لشركاء النجاح</h5>
                    <img class="img-fluid rounded-circle w-100 mb-4" src="assets/img/v.jpg" alt="">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <h1>قيمنا</h1>
                    <h5 class="mb-4">الثقة – المصداقية – الشفافية – الأمانة –
                        سرعة التنفيذ – الشراكة المستدامة</h5>
                    <img class="img-fluid rounded-circle w-100 mb-4" src="assets/img/val.jpg" alt="">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <h1>شعارنا</h1>
                    <h5 class="mb-4">تبع مسارات الجودة <br>المعتمدة لتحقيق أهداف
                        شركاء <br> النجاح</h5>
                    <img class="img-fluid rounded-circle w-100 mb-4" src="assets/img/d.png" alt="">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item">
                    <h1>رسالتنا</h1>
                    <h5 class="mb-4">قديم الخدمات الاستشارية وتطويرالأعمال وفق
                        منهجية علمية وخبرات متطورة تركز على الجودة .</h5>
                    <img class="img-fluid rounded-circle w-100 mb-4" src="assets/img/mission.webp" alt="">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-6">
    <div class="container-xxl">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="assets/img/why-us.png">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <section id="faq" class="faq section-bg">
                    <div class="container " dir="rtl">
                
                      <div class="section-title" data-aos="fade-up">
                        <h1 style="color: #00B98E;">اهدافنا</h1>
                      </div>
                
                      <div class="faq-list">
                        <ul>
                          <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"> مساعدة القطاعات في تقييم الوضع
                                المؤسس ي الحالي لتطوير الأداء  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                              <p>
                                
                              </p>
                            </div>
                          </li>
                
                          <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">  التميز في تقديم الاستشارات وأعمال
                                التطوير وفق المعايير المعتمدة <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                              <p>
                              </p>
                            </div>
                          </li>
                
                          <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">الفاعلية والكفاءة في تقديم الخدمات
                                الاستشارية التي تساهم بتحقيق الأهداف  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                              <p>
                              </p>
                            </div>
                          </li>
                
                          <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">توظيف التكنولوجيا والبرامج الحديثة في
                                أعمال التطوير   <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                              <p>
                              </p>
                            </div>
                          </li>
                
                          <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">   مكين المؤسسات التي نتعامل معها من
                                مهارات التحسين والتطوير المستمر
                                للعمليات الإدارية وفق الخطة الاستراتيجية
                                لكل مؤسسة <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                              <p>
                              </p>
                            </div>
                          </li>
                          <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">  التدريب والمتابعة المستمرة لتحقيق
                                التمكين لفرق العمل<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                              <p>
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                
                    </div>
                  </section>
            </div>
                    
                
            
           
        </div>
    </div>
</div>
<div class="py-6">
    <div class="container-xxl">
        <div class="row g-5 align-items-center">
            
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
                <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h1> خدماتنا</h1></div>
                <h2 class="mb-4">شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة</h2>
                <p class="mb-4"></p> 
                <div class="row g-3 mb-4">
                    <div class="col-12 d-flex">
                        <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px ;">
                            <i class="fa fa-user-tie text-white"></i>
                        </div>
                        <div class="ms-4">
                            <span>نقدم في مسارات الجودة 
                                مجموعة من الخدمات المتكاملة لجميع
                                المؤسسات ونسخر جميع طاقاتنا وخبراتنا من
                                خلال فريقنا الاستشاري والخبراء الوطنيين
                                والدوليين المتعاونين معنا بتقديم جميع
                                تي
                                الخدمات المطلوبة التطويرية والإدارية وال
                                من شأنها أن تدفع عجلة تطوير الأعمال في
                                مختلف</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left: 30px;">
                            <i class="fa fa-chart-line text-white"></i>
                        </div>
                        <div class="ms-4">
                            <span>لقطاعات والشركات والجمعيات
                                والمصانع والمؤسسات التعليمية والمراكز
                                المعتمدة بما يلائم تلبية احتياجاتهم وتطلعاتهم
                                الحالية والمستقبلية مع مراعاة التكامل
                                وضمان الجودة في كل ما نقدمه من أعمال
                                تطويريه للمؤسسة وتقديم أفضل النتائج وفق
                                معايير ومؤشرات معتمدة للخدمات التي تقدم
                                من خلال شركتنا [ مسارات الجودة </span>
                        </div>
                    </div>
                </div>
                <h3><a class="btn btn-primary rounded-pill py-3 px-5 mt-2" style="font-size: 35px;" routerLink="/about">من نحن</a></h3>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 wow zoomIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="assets/img/team2.png">
            </div>
        </div>
    </div>
</div>