<div class="container-xxxl bg-primary page-header">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3"> عملاؤنا </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/home">الرئيسة</a></li>
                <li class="breadcrumb-item"><a class="text-white" routerLink="/service">خدماتنا</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page" style="font-size: 1.4rem;font-weight: bold;"> عملاؤنا</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Navbar & Hero End -->


<!-- Team Start -->

    <div class="d-inline-block border rounded-pill text-primary text-center col-md-1" style="margin-left: 45%; margin-bottom:10px; background-color:white;"><h2>عملاؤنا</h2></div>
    <owl-carousel-o [options]="customOptions" >
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/1.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/2.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/3.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/4.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/5.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/6.png" alt=""></a></ng-template> 
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/7.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/8.png" alt=""></a></ng-template>
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/9.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/10.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/11.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/12.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/13.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/14.png" alt=""></a></ng-template> 
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/15.png" alt=""></a></ng-template>  
        <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/16.png" alt=""></a></ng-template>   
        </owl-carousel-o>
